{{#each error}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>Edit categorie: </h3>
<div class="card mt-4">
    <div class="card-body">
        <form action="/admin/categorie/edit" method="POST">
        <input type="hidden" name="id" value="{{categorie._id}}">
            <label for="name">Descrição: </label>
                <input type="text" id="name" name="name" placeholder="Name of categorie" class="form-control " value="{{categorie.name}}"><br>
            <label for="slug">Nome: </label>
                <input type="text" id="slug" name="slug" placeholder="Slug of categorie" class="form-control" value="{{categorie.slug}}"><br>
            <button type="summit" class="btn btn-success">Edit categorie</button>
        </form>
    </div>
</div>