{{#each error}}
    <dir class="alert alert-danger">{{text}}</dir>
{{else}}

{{/each}}

<div class="card">
    <dir class="card-body">
        <h4>Editar agendamento</h4>
        <form action="/admin/post/edit" method="POST">
            <input type="hidden" value="{{post._id}}" name="id">
            <label for="titulo">Data de atendimento: </label>
            <input type="text" name="tittle" class="form-control" value="{{post.tittle}}">
            <label for="slug">Observação: </label>
            <input type="text" name="slug" class="form-control" value="{{post.slug}}">
            <label for="description">Descrição: </label>
            <input type="text" name="description" class="form-control" value="{{post.description}}"><br>
            <label for="content"></label>
            <label for="categorie">Selecionar cliente: </label>
            <select name="categorie" class="custom-select">
                {{#each categorie}}
                    <option value="{{_id}}">{{slug}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <br><br><button class="btn btn-success" type="submit">Edit posts</button>
        </form>
    </dir>
</div>